<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <br>
    <h5>Sylvia Yi</h5>
    <br>
    <h6>Who I am:</h6>
    <p>I am a student in the Game Programming program at Centenary College.
      I am currently in my third semester of classes and starting to make games.
      I have over 10 years of gaming experience and I hope to make some special, new and different games during and after my studies.
      I hope to make some special, new and different games during and after my studies.
    </p>
    <img src="img/me.jpg" alt="My image" width="300" height="500">
    <br>
    <a href="/assets/resume.pdf" target="_blank" rel="noopener noreferrer">Download My Resume</a>

    </div>
    </main>
    
    <!-- Sylvia Yi 300605258 about.ejs -->
   
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   