<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h2 class="display-4">Welcome to <%= title %>!</h2>
    <p class="lead">Our mission is to revolutionize the gaming industry with 
      unique and engaging experiences. We believe in pushing the boundaries of 
      creativity and delivering unparalleled gaming moments to our audience.</p> 
    <a href="/about" class="btn btn-primary">About Me</a> 
    <a href="/projects" class="btn btn-secondary ml-2">My Projects</a>
    <a href="/services" class="btn btn-secondary ml-2">Services</a> 
    <h1 class="mt-4">Super Game</h1>
    
    <img src="img/game.jpg" alt="Game">
    <h3></h3>
  </div>
</main>

 <!-- Sylvia Yi 300605258 index.ejs -->

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
