<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<%- include('partials/header.ejs') %>

<main class="container">
    <h1 class="display-4">My Services</h1>
    
    <!-- Services List -->
    <div class="row">
        
        <!-- Service 1 - General Programming -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/programming.jpg" width="300" height="300" class="card-img-top" alt="General Programming">
                <div class="card-body">
                    <h5 class="card-title">General Programming</h5>
                    <p class="card-text">Offering a range of programming services, from bug fixes to complete application development.</p>
                </div>
            </div>
        </div>

        <!-- Service 2 - Web Development -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/web.jpg" width="300" height="300" class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">Crafting modern and responsive websites and web applications to help businesses succeed online.</p>
                </div>
            </div>
        </div>

        <!-- Service 3 - Mobile Apps -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/app.jpg"  width="300" height="300" class="card-img-top" alt="Mobile Apps">
                <div class="card-body">
                    <h5 class="card-title">Mobile Apps</h5>
                    <p class="card-text">Designing and developing user-friendly mobile applications for both iOS and Android platforms.</p>
                </div>
            </div>
        </div>

    </div>
</main>

    
    <!-- Sylvia Yi 300605258 services.ejs -->
   
      
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   